Source: at
Section: admin
Priority: standard
Maintainer: Jose M Calhariz <jose@calhariz.com>
Uploaders: Ansgar Burchardt <ansgar@debian.org>,
Standards-Version: 3.9.6
Build-Depends: autotools-dev,
               bison,
               debhelper (>= 9),
               dh-systemd,
               flex,
               libpam0g-dev,
               libselinux1-dev [linux-any],
               perl (>= 5.10.1),
Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/at.git
Vcs-Git: https://anonscm.debian.org/collab-maint/at.git
Homepage: http://blog.calhariz.com


Package: at
Architecture: any
Multi-Arch: foreign
Depends: libpam-runtime (>= 1.0.1-11),
         lsb-base (>= 3.2-14),
         ${misc:Depends},
         ${shlibs:Depends},
Recommends: default-mta | mail-transport-agent,
Description: Delayed job execution and batch processing
 At and batch read shell commands from standard input
 storing them as a job to be scheduled for execution in the
 future.
 .
 Use
  at    to run the job at a specified time
  batch to run the job when system load levels permit
